* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: grid;
  grid-template-columns: 20%, auto;
  grid-template-rows: auto;
  grid-gap: 10%;
}

header {
  grid-column: 1;
  grid-row: 1;
}

main {
  grid-column: 2;
  grid-row: 1;
}

footer {
  grid-column: 2;
  grid-row: 2;
}

nav ul {
  padding: 0 10px;
}

nav li {
  display: grid;
  padding: 5px 0;
}
